@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-warning">Welcome to Chocolateria Mr. Shelby</h1>

    <p class="text-primary"> Fique com alguém que te olha como você olha para uma vitrine de doces; </p>
    <p class="text-primary"> Delícia mesmo é comer nosso sabor favorito de bolo em boa companhia;</p>
    <p class="text-primary"> A felicidade mora num pedaço de bolo e eu comi;</p>
    <p class="text-primary"> O amor está nas pequenas coisas, nos salgadinhos de festa, por exemplo;</p>
    <p class="text-primary"> Gente que fica mais tempo quando vai ter bolo;</p>
    <p class="text-primary"> Às vezes, tudo o que precisamos é de um abraço… e de uma coxinha de frango com catupiry;</p>
    <p class="text-primary"> Pessoas que gostam de docinhos são sempre as melhores pessoas;</p>
    <p class="text-primary"> Que a sua vida seja doce como os doces que eu faço;</p>

                    <img src="https://memoria.ebc.com.br/sites/_portalebc2014/files/styles/full_colunm/public/atoms_image/fil.al_.jpg?itok=KaviDVZe">

</div>
