@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-warning">Welcome to  Planned Furniture Mr. Shelby</h1>

    <p class="text-primary"> “A melhor maneira de prever o futuro é criá-lo.”;</p>
    <p class="text-primary"> “A maioria das pessoas não querem o seu produto. Elas querem a transformação que seu produto vai trazer para elas.”; </p>
    <p class="text-primary"> “O tempo, a energia e o talento podem ser mais importantes do que o orçamento.”;</p>
    <p class="text-primary"> “A falha é simplesmente a oportunidade de começar novamente, desta vez de forma mais inteligente.”;</p>
    <p class="text-primary"> “Não encontre clientes para o seu produto, encontre produtos para os seus clientes.”;</p>



                    <img src="https://cdn.leroymerlin.com.br/uploads/img/banners/moveis_planejados_leroy_merlin_01_e040_580x490.jpeg">"

</div>