@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h3 class="text-danger"></h3>Usamos cookies para garantir que obtém sempre a melhor experiência ao visitar o nosso website, para medir a utilização e o desempenho, bem como apresentar anúncios. Saiba Mais
Ao clicar em “Aceito”, concorda com as nossas configurações padrão. Pode alterá-las clicando em “Painel de preferências” ou através do link situado na parte inferior de cada página.</h3>
